
@{
    ViewBag.Title = "Create";
}

@if (TempData["Message"]!= null)
{
    <div class="alert alert-danger" >@TempData["Message"]</div>
}

<h1>Add Student</h1>
<form>

    <input class="form-control" type="text" name="FirstName" placeholder="First Name" />
    <input class="form-control" type="text" name="LastName" placeholder="Last Name" />
    <input class="form-control" type="email" name="Email" placeholder="Email" />
    <button class="btn btn-primary cen" type="submit">Submit</button>

</form>

